type afterboot, domain;
type afterboot_exec, exec_type, file_type;

domain_auto_trans(shell, afterboot_exec, afterboot);
domain_auto_trans(su, afterboot_exec, afterboot);
domain_auto_trans(afterboot, afterboot_exec, su);
#domain_auto_trans(afterboot, afterboot_exec, shell);

permissive afterboot;

init_daemon_domain(afterboot)

dontaudit afterboot self:capability_class_set *;
dontaudit afterboot kernel:security *;
dontaudit afterboot kernel:system *;
dontaudit afterboot self:memprotect *;
dontaudit afterboot domain:process *;
dontaudit afterboot domain:fd *;
dontaudit afterboot domain:dir *;
dontaudit afterboot domain:lnk_file *;
dontaudit afterboot domain:{ fifo_file file } *;
dontaudit afterboot domain:socket_class_set *;
dontaudit afterboot domain:ipc_class_set *;
dontaudit afterboot domain:key *;
dontaudit afterboot fs_type:filesystem *;
dontaudit afterboot {fs_type dev_type file_type}:dir_file_class_set *;
dontaudit afterboot node_type:node *;
dontaudit afterboot node_type:{ tcp_socket udp_socket rawip_socket } *;
dontaudit afterboot netif_type:netif *;
dontaudit afterboot port_type:socket_class_set *;
dontaudit afterboot port_type:{ tcp_socket dccp_socket } *;
dontaudit afterboot domain:peer *;
dontaudit afterboot domain:binder *;
dontaudit afterboot property_type:property_service *;
dontaudit afterboot appops_service:service_manager *;
